.product-card{
    max-width: 250px;
    background-color: bisque;
    color: #323;
    display: block;
    margin: 0 auto;
    padding: 15px 25px;
    margin: 15px auto;

    .product-image {
        max-width: 150px;
        display: block;
    }

    .product-data {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        .product-price {
            
        }
    }
}